{
  "openhab": {
    "hostname": "openhab",
    "port": 8080,
    "ssl": false
  },
  "topbar": {
    "time": {
      "show": true,
      "format": "HH:mm:ss"
    },
    "items": {
      "media": {
        "itemName": "Media_HarmonyHub_CurrentActivity",
        "show": true
      }
    }
  },
  "views": {
    "livingRoom": {
      "title": "Living Room",
      "items": [
        { 
          "title": "Floor Lamp",
          "itemName": "LivingRoom_FloorLamp",
          "icon": "far:lightbulb",
          "type": "dimmer",
          "cols": 9
        },
        {
          "type": "indoor",
          "roomTemperatureItem": "X",
          "roomHumidityItem": "X",
          "cols": 3
        },
        {
          "title": "Table Lamp",
          "itemName": "LivingRoom_TableLamp",
          "icon": "far:lightbulb",
          "type": "dimmer",
          "cols": 9
        },
        {
          "type": "outdoor",
          "outdoorConditionItem": "Weather_OWM_Condition",
          "outdoorHumidityItem": "Weather_OWM_Humidity",
          "outdoorTemperatureItem": "Weather_OWM_Temperature",
          "outdoorConditionIconIdItem": "Weather_OWM_ConditionIconId",
          "cols": 3
        },
        {
          "title": "Ceiling Fan",
          "itemName": "LivingRoom_Fan",
          "icon": "fas:fan",
          "type": "dimmer",
          "cols": 9
        },
        {
          "title": "Ceiling Fan Light",
          "itemName": "LivingRoom_FanLight",
          "icon": "fas:lightbulb",
          "type": "dimmer",
          "cols": 9
        }
      ],
      "type": "dashboard"
    },
    "media": {
      "title": "Media",
      "items": [],
      "type": "dashboard"
    }
  },
  "defaultView": "livingRoom"
}
